<div class="container">
  <!-- <div class="text-center text-white" id="email_h1"> -->
    <h1 class="text-center text-white mt-4"> <%= @search_word.capitalize %> available articles</h1>

    <div class="row">
      <% @articles.each do |article| %>
        <div class="col-12 col-sm-6 col-md-3">
          <%= link_to article_path(article), class: 'text-decoration-none' do %>
            <div class="card my-3 p-2">
              <% if article.photos.attached? %>
                <% photo = article.photos.first %>
                <div class="card-image vh-30" style="background-image: url(<%= cl_image_path(photo.key) %>)"></div>
              <% else %>
                <div class="card-image vh-30" style="background-image: url(<%= asset_path('babylogo.png') %>)"></div>
              <% end %>
              <div class="grid-tier align-items-center">
                <div class="d-flex p-2">
                  <p class=" mb-0 badge badge-pill badge-success mr-2"><%= article.gender %> </p>
                  <p class=" mb-0 badge badge-pill badge-success"><%= article.size %> </p>
                </div>
                <h4 class="text-left"><%= article.name %> </h4>
                <div class="d-flex align-items-center justify-content-end mb-0">
                  <p class="text-dark"><%= article.price_per_month %></p>
                  <p class="text-muted">aed / month</p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <!-- </div> -->
</div>
