<div class="container mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center text-white" id="email_h1">
    <h1> Hello <%= current_user.email %>, these are <strong>your articles</strong></h1>

    <div class="d-flex align-items-center justify-content-between mb-3">
    </div>
    <div class="row">
      <% @articles.each do |article| %>
      <div class="col-12 col-sm-6 col-md-4">
        <%= link_to article_path(article), class: 'text-decoration-none' do %>
        <div class="card my-3 p-2">
          <% article.photos.each do |photo| %>
            <%= cl_image_tag(photo.key) %>
          <% end %>
          <div class="grid-tier align-items-center">
            <div class="d-flex">
              <p class=" mb-0 badge badge-pill badge-success mr-2"><%= article.gender %> </p>
              <p class=" mb-0 badge badge-pill badge-success"><%= article.size %> </p>
            </div>
            <h4 class="text-left">Article name: <%= article.name %> </h4>
            <div class="d-flex align-items-center justify-content-end mb-0">
            <p class="text-dark"><%= article.price_per_month %></p>
            <p class="text-muted">aed / month</p>
            </div>
          </div>
        </div>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>

