<div class="container">
  <div class="row">
    <% @bookings.each do |booking| %>
    <div class="col-12 col-sm-6 col-md-3">
      <div class="card my-3 p-2">
          <% booking.article.photos.each do |photo| %>
            <div class="card-image vh-30" style="background-image: url(<%= cl_image_path(photo.key) %>)"></div>
        <% end %>
          <div class="grid-tier align-items-center">
            <div class="d-flex p-2">
              <p class=" mb-0 badge badge-pill badge-success mr-2"><%= booking.article.gender %> </p>
              <p class=" mb-0 badge badge-pill badge-success"><%= booking.article.size %> </p>
            </div>
            <h4 class="text-left"><%= booking.article.name %> </h4>
            <div class="d-flex align-items-center justify-content-end mb-0">
            <p class="text-dark">Total: <%= booking.article.price_per_month * booking.number_of_weeks %> AED</p>
            </div>
          </div>
          <% if booking.status == 'pending' %>
          <div class="d-flex justify-content-between">
            <%= link_to '' , deny_booking_path(booking), class: 'fas fa-window-close text-decoration-none', method: :patch %>
            <%= link_to '', accept_booking_path(booking), class: 'fas fa-check-square text-decoration-none', method: :patch %>
          </div>
          <% else %>
            <p class="text-center">
              <%= "This booking has been #{booking.status}" %>
            </p>
          <% end %>
        </div>
    <% end %>
    </div>
  </div>
</div>
