  <h1 class="text-center my-3">Bookings dashboard</h1>
<div class="container">

    <% @bookings.order('status').each do |booking| %>
      <div class="card-product p-2 m-2">
        <%= cl_image_tag (booking.article.photos.first.key) %>
        <div class="card-product-infos">
          <h2><%= booking.article.name %></h2>
          <% if booking.status == 'pending' %>
            <p class='fas fa-window-close text-decoration-none' id="pills"> Declined<p>
              <% elsif booking.status == 'accepted' %>
            <p class='fas fa-check-square text-decoration-none' id="pills"> Accepted<p>
              <% else %>
            <p class='far fa-comment-dots text-decoration-none' id="pills"> Pending<p>
          <% end %>
          <% if booking.article.gender == 'girls' %>
            <p class=" mb-0 badge badge-pill badge-girl mr-2"><%= booking.article.gender %>
             <% elsif booking.article.gender == 'boys' %>
            <p class=" mb-0 badge badge-pill badge-boy mr-2"><%= booking.article.gender %>
              <% else %>
            <p class=" mb-0 badge badge-pill badge-uni mr-2"><%= booking.article.gender %>
          <% end %>
          <p class="far fa-clock mx-2"> <%= booking.number_of_weeks %> weeks </p>
          <p class="fas fa-baby-carriage mb-3"> <%= booking.article.size %></p>
          <p>Total: <%= booking.price %> AED</p>
        </div>
      </div>
    <% end %>
</div>

