<!-- this is the banner -->
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1604467794349-0b74285de7e7?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjN8fGJhYnklMjBjbG90aGVzfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60);">
  <div class="container">
    <h1>Green Cub wear, <strong>a baby wardrobe for every step of the way</strong>!</h1>
    <p>Your desired baby clothing, one click away.</p>
    <a class="btn btn-flat" href="#">Search</a>
  </div>
</div>
<!-- banner ends -->

<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center text-white">
    <h1>ALL ARTICLES</h1>
  </div>
</div>

<div class="container py-5">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h3 class="mb-0">Articles</h3>
  </div>
  <div class="row">
    <% @articles.each do |article| %>
    <div class="col-12 col-sm-6 col-md-4">
      <%= link_to article_path(article), class: 'text-decoration-none' do %>
      <div class="card">
        <%= cl_image_tag(article.photos.first.key) %>
        <h1> <%= article.name %> </h1>
        <p> <%= article.gender %> </p>
        <p> <%= article.size %> </p>
        <p> <%= article.price_per_month %> </p>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>

